@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main-feeds {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  padding-top: 60px;
  background-color: #fafafa;

  .left {
    padding-bottom: 100px;

    .feeds {
      width: 100%;
      border: 1px solid #cacaca;

      .feeds-pic {
        img {
          width: 100%;
        }
      }

      .feeds-like {
        padding: 10px 10px;
        text-align: initial;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main-feeds {
    .left {
      padding: 0 15px;
    }
  }
}
