body {
  background-color: #f8f4f4;
}

.wrapper {
  height: auto;
  margin-top: 60px;
  padding-top: 60px;
  margin: 0 auto;

  b {
    font-weight: bold;
  }

  input:focus::placeholder {
    color: transparent;
  }

  main {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #f8f4f4;

    .Feed-list {
      .contents {
        padding: 30px 10px;

        article {
          max-width: 630px;
          width: 100%;
          height: auto;
          border: 1px solid rgba(45, 42, 42, 0.3);
          background-color: white;

          .article-top {
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px;
            background-color: white;

            .dotMore {
              position: absolute;
              right: 4%;
            }

            p {
              margin-left: 20px;
              font-weight: 550;
            }

            .userImg {
              width: 54px;
              height: 54px;
              margin-left: 20px;
              border-radius: 50%;
              object-fit: cover;
              border: 3px solid rgb(211, 55, 125);
              padding: 1px;
            }
          }

          .article-main {
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          .article-bar {
            padding: 20px;
            background-color: white;

            button {
              border: none;
              background: none;
              cursor: pointer;
            }

            span {
              color: rgba(19, 18, 18, 0.3);
              transition: all 1s;
            }

            .bar-left {
              span {
                margin-right: 20px;
              }

              display: flex;
              float: left;
            }

            .bar-like:hover {
              color: red;
              transition: all 1s;
            }

            .bar-comments:hover {
              color: black;
              transition: all 1s;
            }

            .bar-share:hover {
              color: black;
              transition: all 1s;
            }

            .bar-right {
              float: right;

              .bar-bookmark:hover {
                color: black;
                transition: all 1s;
              }
            }

            .clearFloat {
              clear: both;
            }
          }
        }

        .Comments-show {
          margin-top: 10px;
          height: 120px;
          overflow-y: scroll;

          .Comments-list {
            margin-top: 5px;
            position: relative;
            padding: 5px 50px;
            background-color: white;

            .nick {
              font-weight: bold;
            }

            .delete {
              position: absolute;
              right: 10px;
              color: gray;
              cursor: pointer;
            }

            .like {
              position: absolute;
              right: 40px;
              cursor: pointer;
            }
          }
        }
      }

      .Comments-write {
        border-top: 1px solid #c2c2c2;
        margin-top: 10px;
        display: flex;
        padding: 10px;
        background-color: white;

        .input-area {
          border: none;
          width: 85%;
        }

        .input-area:focus {
          outline: none;
        }

        .input-bt {
          border: none;
          background: none;
          color: rgb(160, 144, 251);
          width: 15%;
        }
      }

      .article-reaction {
        display: flex;
        align-items: center;
        background-color: white;

        img {
          width: 24px;
          height: 24px;
          margin-left: 20px;
          border-radius: 50%;
        }
      }

      .lastInTime {
        color: gray;
        margin-top: 6px;
      }

      #comments {
        list-style: none;

        li {
          margin-left: -40px;
        }
      }
    }

    .main-right {
      max-width: 400px;
      width: 100%;
      height: auto;
      padding: 30px 10px;

      .box-right {
        width: 100%;
        height: 100%;
        padding: 5px;

        .right-top {
          display: flex;
          align-items: center;

          img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            object-fit: cover;
          }

          .r-top-text {
            margin-left: 20px;
            font-weight: bold;
          }

          .userSubText {
            margin-top: 7px;
            color: #9e9e9e;
          }
        }

        .right-story {
          padding: 10px;
          margin-top: 15px;
          border: 1px solid #c6c6c6;
          max-height: 250px;
          overflow: auto;
          background-color: white;

          img {
            width: 45px;
            height: 45px;
            margin-top: 10px;
            border-radius: 50%;
          }

          .story-text {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
          }

          .storyFontGray,
          .story-time {
            color: gray;
          }

          .story-list {
            display: flex;
            align-items: center;

            .story-txt {
              margin-left: 10px;

              .follow-line {
                display: flex;
                justify-content: space-between;
                width: 280px;
              }

              .follow-bt {
                border: none;
                background: none;
                color: rgb(24, 161, 216);
                font-weight: bold;
                cursor: pointer;
              }
            }
          }
        }
        .right-footer {
          line-height: 20px;
          color: gray;
        }
      }
    }
  }
}
