$line-color: #dbdbdb;
$background: #fafafa;

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 939px;
  margin-top: 60px;
}

body {
  background-color: $background;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid $line-color;
  height: fit-content;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 30px;
  .nameCon {
    display: flex;
    flex-direction: row;
    height: 60px;
    max-width: 610px;
    background-color: #ffffff;
    .imgDiv {
      align-items: center;
      margin: 5px;
      width: 64px;
      height: 64px;
      .name {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .nameDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  .imgContainer {
    margin-bottom: 12px;
    .mainimg {
      max-width: 610px;
      height: 680px;
    }
  }
  .imgiconDiv {
    .lowerIcon {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      text-align: center;
      .iconDiv {
        display: flex;
        margin-left: 12px;
        height: 58px;
        align-items: center;
        .iconB {
          margin: 5px;
          font-size: 23px;
          margin-right: 10px;
        }
      }
      .fa-bookmark {
        margin: 5px;
        font-size: 23px;
        margin-right: 10px;
      }
    }

    .like {
      display: flex;
      flex-direction: row;
      margin-left: 12px;
    }
  }
  .commentSection {
    .comment {
      margin-left: 2px;

      ul > li {
        display: flex;
        flex-direction: row;
      }
      .indiComment {
        margin: 4px 0px 4px 0px;
        .commentCon {
          display: flex;
          flex-direction: row;
          .commentName {
            margin-right: 3px;
          }
        }
        .commentBtnContainer {
          display: flex;
          justify-content: space-evenly;
          background-color: transparent;
        }
        .commentBtn:hover {
          border: 1px solid black;
        }
      }
    }
    .writing {
      display: flex;
      flex-direction: row;
      border: 1px 0px 1px 0px $line-color solid;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
      }
      input {
        border-radius: 0px;
        width: 100%;
        height: 43px;
        background-color: transparent;
      }
    }
  }
}

.sideContainer {
  margin-left: 30px;
  width: 315px;
  max-height: 1023px;
  max-height: 940px;
  background-color: #fafafa;
  .profileImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0.5px;
    border: 1.2px solid red;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 96px;
    margin: 5px 0px 5px 0px;
    .info {
      font-size: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 5px;
      }
      p:first-child {
        font-weight: bolder;
      }
      a {
        color: #0296f6;
        font-weight: bold;
      }
    }
  }
  .story {
    .titleDiv {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin: 6px;
    }

    .recommand {
      .profile {
        height: fit-content;
      }
      .imgDiv {
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

span {
  margin: 5px 0px 5px 5px;
}

.sideInfo {
  margin-bottom: 350px;
  color: $line-color;
  div {
    width: 315px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.3rem;
  }
}

.hidden {
  display: none;
}
