@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin centerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
