@import '../variable.scss';
.sideContainer {
  margin-left: 30px;
  width: 315px;
  max-height: 1023px;
  max-height: 940px;
  background-color: #fafafa;
  .profileImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0.5px;
    border: 1.2px solid red;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 96px;
    margin: 5px 0px 5px 0px;
    .info {
      margin-left: 10px;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 5px;
      }
      p:first-child {
        font-weight: bolder;
      }
      a {
        color: #0296f6;
        font-weight: bold;
      }
    }
  }
  .story {
    .titleDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 315px;
      margin-bottom: 15px;
      color: $text-color;
      font-size: 13px;
      p:last-child {
        width: 30%;
        color: $black;
        font-weight: 600;
      }
    }

    .recommand {
      .profile {
        height: fit-content;
      }
      .imgDiv {
        height: 38px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        border-radius: 50%;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .sideInfo {
    margin-bottom: 350px;
    color: $line-color;
    div {
      width: 315px;
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.3rem;
    }
  }
}

span {
  margin: 5px 0px 5px 5px;
}
